@charset "utf-8";
/* CSS Document */

/* elements */

body    {
	overflow-y:scroll;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

/*id*/

#main_container_div {
	background-color: #FFFFFF;
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}

#main_header_div {
	padding-top: 20px;
	padding-bottom: 50px;
}

#date_div {
	width: 300px;
	float: left;
}

#calendar_div {
	height: 245px;
}

#filter_checkbox_div {
}

#reservation_div {
	width: 700px;
	float: right;
}

#reservations_list_header_div {
	clear: both;
	padding: 30px 0 40px 0;
}

#reservations_list_div {
}

#filter_entries {
	margin: 10px 10px 10px 0;
}

#repeat_check_box {
	margin: 20px 10px 20px 0;
}

#reserve_button {
	width: 80px;
	height: 40px;
	margin: 0 45px 0 0;
}

#reset_button {
	width: 80px;
	height: 40px;
	margin: 0 0 0 0;
}

/*classes*/

div.field {
  margin-bottom:5px;
  text-align:left;
}
span.help {
  color:#660000;
  font-style:italic;
}

	/* reservation_form */

.whole_input_div {
	height: 55px;
	color: #404040;
}

.whole_input_div > span.title_elem {
	width: 190px;
	float: left;
	text-align: right; 
	padding-left: 10px;
}

.whole_input_div > input.input_elem {
	width: 196px;
	float: left;
	margin: 0 0 0 20px;
}

.whole_input_div > span.hint_elem {
	width: 265px;
	float: left;
	padding-left: 15px;
}

	/* reservations list */

.whole_reservation_div {
	height: 90px;
	padding: 5px;
}

.whole_reservation_div  > span.title_elem {
	width: 100px;
	padding: 2px 0;
	float: left;
}

.whole_reservation_div  > span.text_elem {
	width: 300px;
	height: 24px;
	padding: 2px 0;
	float: left;
}

.whole_reservation_div  > div.separator {
	height: 1px;
	width: 100%;
	padding: 2px 0;
	clear: both;
}

.whole_reservation_div  > input.cancel_button {
	height: 30px;
}

.whole_reservation_div  > span.cancel_hint {
	padding: 0 0 0 10px;
}